{{- define "header" }}
{{- $param := . }}
<nav class="navbar navbar-expand-lg" style="background-color: #D76969;" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Echo CRUD</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link{{ if or (eq $param.currentPath "/pokemons") (eq $param.currentPath "/") }} active{{ end }}" aria-current="page" href="/pokemons">ポケモン</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{{ if eq $param.currentPath "/types" }} active{{ end }}" href="/types">タイプ</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{{ end -}}